/* General CSS */
#NotFoundMain{
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.NotFoundImage{
    width: 40rem;
}
.NotFoundH2{
    font-weight: bold;
    color: #FFCA3A;
}
.NotFoundButton{
    font-weight: 600;
    font-size: 1.25rem;
    padding: .75rem 1.5rem;
    border-radius: 100px;
    border: none;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #FFCA3A;
    color:#FFCA3A !important;
    width: fit-content;
    margin-top: 2rem;
}
.NotFoundButton:hover{
    background-color: #ffd86e;
    border: 3px solid #ffd86e;
    color:#19323C !important;
}
/* Responsivity CSS */
@media (max-width: 767.98px) {
    .NotFoundImage{
        width: 100%;
    }
    .NotFoundH2{
        text-align: center;
    }
}
@media (max-width: 575.98px) {
    .NotFoundH2, .NotFoundButton{
        font-size: 1.25rem;
    }
}

@media (max-width: 424.98px) {
    #NotFoundMain{
        margin-top: 1rem;
    }
} 