/* General CSS */
#top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37.5%;
    margin-top: 3rem;
}
#top-section img{
    width: 10rem;
    margin-bottom: 1.5rem;
}
#top-section h2{
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
#top-section p{
    margin-bottom: 0;
    font-size: 1.5rem;
    text-align: center;
}
span{
    font-weight: 500;
    color: #FFCA3A;
}

/* Bottom Section */
.bottom-section{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 3rem;
}
.section{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #21414E;
    border-radius: 50px;
    width: 25%;
}
.section h3{
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 1rem;
}
.section p{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}
.section button{
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #FFCA3A;
    color: #19323C;
    padding: 1rem 3rem;
    margin-top: 1rem;
    border-radius: 100px;
    border: none;
    transition: all 0.25s ease-in-out;
}
.section button:hover{
    background-color: #ffd86e;
}
#download{
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #FFCA3A;
    color: #19323C;
    padding: 1rem 3rem;
    margin-top: 1rem;
    border-radius: 100px;
    border: none;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    text-align: center;
}
#download:hover{
    background-color: #ffd86e;
}


/* Responsivity CSS */
@media (max-width: 1399.98px) {
    #top-section{
        width: 50%;
    }
    .section{
        width: 30%;
    }
}
@media (max-width: 1199.98px) {
    .section{
        width: 35%;
    }
}
@media (max-width: 991.98px) {
    #top-section{
        width: 65%;
    }
    .section{
        width: 40%;
    }
}
@media (max-width: 767.98px) {
    #top-section{
        width: 85%;
    }
    .bottom-section{
        flex-direction: column;
        align-items: center;
    }
    .section{
        width: 65%;
    }
    .section h3{
        font-size: 2rem;
    }
    .section p{
        font-size: 1.375rem;
    }
    .section:first-child{
        margin-bottom: 2rem;
    }
    .section button{
        padding: .75rem 3rem;
    }
    #download{
        padding: .75rem 3rem;
    }
}
@media (max-width: 575.98px) {
    #top-section{
        width: 90%;
    }
    #top-section h2{
        font-size: 2rem;
    }
    #top-section p{
        font-size: 1.25rem;
    }
    .section, #download{
        width: 75%;
    }
}

@media (max-width: 424.98px) {
    .section{
        width: 90%;
    }
    #top-section p{
        font-size: 1.125rem;
    }
}
