/* General CSS */
#ProjectMain {
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
#ProjectMain p, #ProjectMain li{
    font-size: 1.25rem;
}
#ProjectMain #title{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
#ProjectMain #title h2{
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 1rem;
}
#ProjectMain #project-img{
    align-self: center;
    max-width: 100%;
    margin-bottom: 1rem;
}
#ProjectMain a{
    font-weight: 600;
    font-size: 1.25rem;
    padding: .75rem 1.5rem;
    border-radius: 100px;
    border: none;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    color: #ececec;
    display: flex;
    align-items: center;
}
#ProjectMain #buttons{
    align-self: center;
    margin-bottom: 2rem;
    display: flex;
}
#ProjectMain #buttons img{
    margin-right: 1rem;
}
#ProjectMain #github-button{
    background-color: #24292E;
    margin-right: 1rem;
}
#ProjectMain #github-button:hover{
    background-color: #2c3440;
}
#ProjectMain #figma-button{
    background-color: #E5E5E5;
    color: #222831;
    margin-right: 1rem;
}
#ProjectMain #figma-button:hover{
    background-color: #f2f2f2;
}
#ProjectMain #regular-button{
    background-color: #FFCA3A;
    color: #222831;
}
#ProjectMain #regular-button:hover{
    background-color: #ffd86e;
}
#ProjectMain h3{
    font-weight: 600;
    color: #FFCA3A;
}
#ProjectMain #description div{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
#ProjectMain #description p{
    margin-bottom: 0;
    margin-left: .5rem;
}
#ProjectMain #description{
    margin-bottom: 2rem;
}
#ProjectMain #technologies{
    margin-bottom: 1rem;
}
#ProjectMain .technology{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
#ProjectMain .technology p{
    margin-bottom: 0;
    margin-left: .5rem;
}
#ProjectMain h4{
    font-weight: 600;
    margin-left: 1rem;
}
#ProjectMain ul{
    margin-left: 2rem;
}
#ProjectMain li{
    list-style: none;
    margin-bottom: .5rem;
}
#ProjectMain li img{
    margin-right: .5rem;
}
#ProjectMain #inverted-button{
    background-color: transparent;
    border: 3px solid #FFCA3A;
    color:#FFCA3A;
    width: fit-content;
    margin-top: 2rem;
}
#ProjectMain #inverted-button:hover{
    background-color: #ffd86e;
    border: 3px solid #ffd86e;
    color:#19323C;
}

/* Responsivity CSS */
@media (max-width: 767.98px) {
    #ProjectMain ul{
        margin-left: 0;
    }
    #ProjectMain #inverted-button{
        align-self: center;
    }
    #ProjectMain main{
        margin-bottom: 0;
    }
} 
@media (max-width: 575.98px) {
    #ProjectMain h4{
        margin-left: 0;
    }
    #ProjectMain li{
        margin-bottom: 1rem;
    }
    #ProjectMain #buttons{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #ProjectMain #description div{
        align-items: flex-start !important;
    }
    #ProjectMain #description div img{
        margin-top: .5rem;
    }
    
}
@media (max-width: 549.98px){
    #ProjectMain #figma-button{
        margin-right: 0;
    }
    #ProjectMain #regular-button{
        margin-top: 1rem;
    }
}
@media (max-width: 364.98px) {
    #ProjectMain #buttons, #ProjectMain #buttons > div{
        flex-direction: column;
    }
    #ProjectMain #github-button{
        margin-right: 0;
        margin-bottom: 1rem;
    }
    #ProjectMain #technologies > div > div{
        flex-direction: column;
    }
    #ProjectMain ul{
        padding-left: 0;
    }
    #ProjectMain li, #ProjectMain p{
        font-size: 1.125rem;
    }
    #ProjectMain h4{
        margin-top: 2rem;
    }
}