/* header styling */
.project-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background: linear-gradient(108.24deg, #FCC063 -4.86%, #F59504 111.31%);
}
.project-header img{
    height: 24rem;
}

/* main styling */
.project-main{
    max-width: 54rem;
    margin: 2.5rem auto 0 auto;
    padding: 0;
}
.project-main h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.15;
}
.project-main h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 2.5rem;
}
.project-date{
    color: #93a6af;
    font-size: 1.25rem;
    font-weight: normal;
}
.project-main a{
    display: block;
    color: #00b0ff;
    text-decoration: none;
}
.project-main a:hover{
    text-decoration-color: #00b0ff;
    text-decoration-thickness: .115em;
    text-decoration: underline;
    text-underline-offset: 1px;
}