/* header styling */
.project-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
.project-header img{
    height: 24rem;
    object-fit: cover;
    object-position: top;
}

/* main styling */
.project-main{
    max-width: 54rem;
    margin: 2.5rem auto;
    padding: 0;
}
.project-main h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.15;
}
.project-main h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 2.5rem;
}
.project-main p{
    font-size: 1.125rem;
}
.project-main a{
    display: block;
    color: #00b0ff;
    text-decoration: none;
}
.project-main a:hover{
    text-decoration-color: #00b0ff;
    text-decoration-thickness: .115em;
    text-decoration: underline;
    text-underline-offset: 1px;
}
.project-date{
    color: #93a6af;
    font-size: 1.25rem;
    font-weight: normal;
}
.project-result-image{
    width: 100%;
    margin-top: 1rem;
}
.project-link{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    width: max-content;
}
.project-link svg{
    width: 2rem;
    margin-right: 0.5rem;
}

a.return-button{
    margin-top: 4rem;
    background-color: #2871d7;
    border-radius: .25rem;
    font-size: 1.125rem;
    color: #fff;
    cursor: pointer;
    padding: .75rem 2rem;
    text-decoration: none;
    transition: all .15s ease-in-out;
    width: max-content;
}
a.return-button:hover{
    text-decoration-color: #fff;
    text-decoration: none;
    background-color: hsl(215, 69%, 45%);
}