/* Regular CSS */
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin-bottom: 1rem;
    margin-top: 5rem;
}
footer p{
    margin-bottom: 0;
    color: #FFCA3A;
    font-weight: 500;
    font-size: 1.25rem;
}
footer svg{
    width: 1.75rem;
}
footer path{
    transition: all 0.25s ease-in-out;
}
footer path:hover{
    fill: #ffd86e;
}

/* Responsivity CSS */
@media (max-width: 767.98px) {
    footer{
        justify-content: center;
    }
}
@media (max-width: 575.98px) {
    footer{
        flex-direction: column;
        margin-top: 3rem;
    }
    footer p{
        margin-right: 0 !important;
        margin-bottom: .5rem;
        font-size: 1.125rem;
    }
}